.button-left {
    padding-left: 8px;
    padding-right: 8px;
    height: 31px;
    border: none;
}

.button-right {
    height: 31px;
    border: none;
}

.button-input {
    width: 200px;
    height: 30px;
    border-left: none;
    border-right: none;
    border: none;
}

.counter-div {
    border: 1px gray solid;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.order-resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-style {
    color: black;
}

.chevron-up {
    margin-left: 10px;
    transition: 300ms all ease;
}

.chevron-up:hover {
    color: black;
    transform: scale(1.3);
}