#nahue {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card {
    margin: 15px;
    border-radius: 20px;
}

.card-img {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 50%;
    height: 21vh;
    object-fit: cover;
}

.boton {
    margin: 0 5px;
    border-radius: 30px;
}

.card-inverapp {
    border: none;
    border-radius: 35px;
    filter: drop-shadow(5px 2px 12px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(5px 2px 21px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(5px 2px 12px rgba(0, 0, 0, 0.1));
    transition: 300ms all ease;
}

.card-inverapp:hover {
    transform: scale(1.01);
    filter: drop-shadow(5px 2px 12px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(5px 2px 21px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(5px 2px 12px rgba(0, 0, 0, 0.3));
}