.inverapp-notfound {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
}

.main-img-notfound{
    height: 250px;
    width: auto;
}