.coin-container {
  display: flex;
  justify-content: flex-start;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
  font-weight: bolder;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: start;
  width: 100%;
  align-items: center;
}

.coin-price {
  text-align: start;
}

.coin-volume {
  text-align: start;
}

.coin-marketcap {
  text-align: start;
}

.coin-percent {
  text-align: start;
}

.h1name {
  text-align: start;
}