.inverapp-disclaimer {
    font-size: small;
    margin: 15px;
    width: 500px;
}

.inverappFooter {
    margin-left: 50px;
}

.navbar-inverapp {
    display: flex;
    justify-content: space-between;
}

.footer-sm {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-list {
    list-style: none;
}